@keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0
  }

  to {
    transform: translateY(0);
    opacity: 100
  }
}

@media (prefers-reduced-motion:no-preference) {
  [slide-enter] > * {
    --enter-stage: 0;
    --enter-step: 150ms;
    --enter-initial: 0ms;
    animation: slide-enter 1s both 1;
    animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
  }
  @for $i from 1 to 20 {
    [slide-enter] > *:nth-child(#{$i}) { --enter-stage: #{$i}; }
  }
}