.g-block {
  display: block;
}

.g-inline {
  display: inline;
}

.g-inline-block {
  display: inline-block;
}

.g-inline-flex {
  display: inline-flex
}

.g-flex {
  display: flex;
}

.g-jc-c {
  display: flex;
  justify-content: center;
}

.g-jc-sb {
  display: flex;
  justify-content: space-between;
}

.g-jc-sa {
  display: flex;
  justify-content: space-around;
}

.g-ai-c {
  display: flex;
  align-items: center;
}

.g-fd-c {
  display: flex;
  flex-direction: column;
}

.g-fd-r {
  display: flex;
  flex-direction: row;
}

.g-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-flex-auto,
.g-flex-1 {
  flex: 1 1 auto;
}

.g-flex-1-1 {
  flex: 1 1 1px;
}

.g-flex-none,
.g-flex-0 {
  flex: 0 0 auto;
}

.g-flex-2 {
  flex: 2 2 auto;
}

.g-flex-wrap {
  flex-wrap: wrap;
}

.g-tc {
  text-align: center;
}

.g-tl {
  text-align: left;
}

.g-tr {
  text-align: right;
}

.g-fr {
  float: right;
}

.g-fl {
  float: left;
}

.g-relative {
  position: relative;
}

.g-absolute {
  position: absolute;
}

.g-fixed {
  position: fixed;
}

.g-pointer {
  cursor: pointer;
}

.g-fw-w {
  flex-wrap: wrap;
}

.g-bold {
  font-weight: 500;
}

.g-bolder {
  font-weight: 600;
}

.g-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.g-two-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.g-rotate-90 {
  transform: rotate(90deg);
}

.g-rotate--90 {
  transform: rotate(-90deg);
}

.g-ov-auto {
  overflow: auto;
}

.g-ov-hidden {
  overflow: hidden;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.g-right-4 {
  position: absolute;
  right: 8px;
}

.g-custom-triangle {
  width: 0;
  height: 0;
  border-top: 4px solid #96A1B9;
  border-left: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid transparent;
}

.g-hide-scroll {
  &::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
  }
}

.g-disabled {
  filter: grayscale(100);
  color: #c1c5cb;
  cursor: not-allowed;
}

.g-fixtive {
  width: 100%;
  height: 100%;
}

.g-l-index {
  z-index: 1;
}
.g-m-index {
  z-index: 10;
}
.g-h-index {
  z-index: 100;
}
.g-bh-index {
  z-index: 999;
}

@keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0
  }

  to {
    transform: translateY(0);
    opacity: 100
  }
}

@media (prefers-reduced-motion:no-preference) {
  [slide-enter],
  .slide-enter,
  .slide-enter-content > * {
    --enter-stage: 0;
    --enter-step: 150ms;
    --enter-initial: 0ms;
    animation: slide-enter 1s both 1;
    animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
  }

  .slide-enter-content > *:nth-child(1) { --enter-stage: 1; }
  .slide-enter-content > *:nth-child(2) { --enter-stage: 2; }
  .slide-enter-content > *:nth-child(3) { --enter-stage: 3; }
  .slide-enter-content > *:nth-child(4) { --enter-stage: 4; }
  .slide-enter-content > *:nth-child(5) { --enter-stage: 5; }
  .slide-enter-content > *:nth-child(6) { --enter-stage: 6; }
  .slide-enter-content > *:nth-child(7) { --enter-stage: 7; }
  .slide-enter-content > *:nth-child(8) { --enter-stage: 8; }
  .slide-enter-content > *:nth-child(9) { --enter-stage: 9; }
  .slide-enter-content > *:nth-child(10) { --enter-stage: 10; }
  .slide-enter-content > *:nth-child(11) { --enter-stage: 11; }
  .slide-enter-content > *:nth-child(12) { --enter-stage: 12; }
  .slide-enter-content > *:nth-child(13) { --enter-stage: 13; }
  .slide-enter-content > *:nth-child(14) { --enter-stage: 14; }
  .slide-enter-content > *:nth-child(15) { --enter-stage: 15; }
  .slide-enter-content > *:nth-child(16) { --enter-stage: 16; }
  .slide-enter-content > *:nth-child(17) { --enter-stage: 17; }
  .slide-enter-content > *:nth-child(18) { --enter-stage: 18; }
  .slide-enter-content > *:nth-child(19) { --enter-stage: 19; }
  .slide-enter-content > *:nth-child(20) { --enter-stage: 20; }
}