:root {
  --theme-background: #3d2333;
  --theme-background-sun: #f0943a;
  --theme-background-mountain: #452340;
  --theme-background-tree: #e284af;
  --theme-font-color: #000000;
  --signature-stroke: #6aa84f;
  --signature-fill: #c6fefe;
  color: var(--theme-font-color);
}