css-doodle {
  --gridSize: 8em;
  --bk: #60569E;
  --RandRect: (
    @grid: 5 / var(--gridSize);
    background: var(--bk);
    transform: scale(@r(0.2, 0.9));
  );
  --TransformRect: (
    :doodle {
      --s: 0turn;
      grid-gap: 1px;
    }
    :doodle(:active) {
      --s: 0.5turn;
    }
    @grid: 3 / var(--gridSize);
    transition: 1s cubic-bezier(.175, .885, .32, 1.275);
    background: var(--bk);
    transform: rotate(@var(--s));
  );
  --AbstractShape: (
    @grid: 5 / var(--gridSize);
    background: linear-gradient(
      @r(360deg),
      @stripe(#60569E, #E6437D, #EBBF4D)
    );
  );
  --AbstractCircle: (
    @grid: 1 / var(--gridSize);
    background: radial-gradient(
      circle at @r(100%) @r(100%),
      @m20(
        @p(#60569e, #ebbf4d) calc(@n(-1) * 100% / @N),
        @lp calc(@n * 100% / @N)
      )
    );
  );
  --RandTriangle: (
    @grid: 5 / var(--gridSize);
    background: rgba(96, 86, 158, @r(.9));
    transition: .2s ease @r(200ms);
    transform: rotate(@r(360deg));
    clip-path: polygon(
      @r(100%) 0, 100% @r(100%), 0 @r(100%)
    );
  );
  --Z: (
    @grid: 1 / var(--gridSize);
    background-size: 100%;
    background-image: @svg(
      viewBox: 0 0 100 100;
      @M50(path {
        stroke-width: 4;
        stroke: rgba(@m3(@r255), @r1);
        fill: transparent;
        d: M0 3 L100 3 L0 97 L100 97;
      });
    );
  );
}